R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_PUBLIC_URL=
CLODFLARE_STREAMING=
CLOUDFLARE_SUB_DOMAIN=
PHONEPE_CLIENT_ID_PROD=
PHONEPE_CLIENT_ID_TEST=
PHONEPE_CLIENT_SECRET_PROD=
PHONEPE_CLIENT_SECRET_TEST=
PHONEPE_CLIENT_VERSION=
PHONEPE_EMAIL=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=
RAZORPAY_MERCHANT_NAME=
STITCH_API_KEY=
FIGMA_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=
FRONTEND_URL=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_CLOUD_PROJECT=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
HOSTINGER_SERVER1_IP=
HOSTINGER_SERVER2_IP=
HOSTINGER_SERVER3_IP=
HOSTINGER_SSH_USER=
HOSTINGER_SSH_KEY_PATH=
